@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;

* {
  font-family: Poppins !important;
}

*::-webkit-scrollbar {
  display: none !important;
}

html {
  font-size: 14px;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.bottom-gone {
  bottom: -100px;
}

.container {
  @apply w-full max-w-screen-sm mx-auto h-screen p-3 pb-16;
}

.input {
  @apply focus:outline-none text-xs ring-1 ring-black focus:ring-opacity-80 ring-opacity-20 px-5 py-2 transition-all;
}

.btn {
  @apply px-5 py-2 text-xs text-white bg-purple-600 focus:outline-none hover:bg-purple-900 transition-all duration-700;
}

.btn:disabled {
  @apply bg-gray-200;
}

@tailwind utilities;
